.CimSzal{
    background-color: #f2e8d5;
    padding: 70px 20px;
    text-align: center;
    border-bottom: #2c1810 3px solid;
}

.CimSzal h1{
    font-size: 4rem;
    color: #2c1810;
    margin-bottom: 20px;
    border-bottom: 3px solid #8b5a2b;
    display: inline-block;
    padding-bottom: 10px;
}

/* Ajánlataink */

.Ajanlatok{
    padding: 40px 20px 60px;
    background-color: #d4c5a3;
    text-align: center;
}

.kartya-lista{
    display: flex;
    gap: 50px;
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.kartya{
    background-color: #f2e8d5;
    border: 4px double #b98f68;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.kartya-kiemelt{
    width: 500px;
    transform: translateY(-12px);
    border-width: 3px;
}

.kartya-kep img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.kartya-tartalom{
    padding: 20px;
    flex: 1;
}

.kartya-tartalom h3{
    margin-bottom: 15px;
    padding-bottom: 25px;
    font-size: 1.5rem;
    color: #2c1810;
    border-bottom: 3px solid #8b5a2b;
    display: inline-block;
}

.kartya-tartalom p{
    font-size: 1rem;
    line-height: 1.6;
    color: #2b1d0e;
}

.pipalista{
    list-style: none;
    margin: 15px 0 0;
    padding-top: 40px;
    text-align: left;
    padding-left: 15%;
}

.pipalista li{
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    color: #2b1d0e;
    line-height: 1.5;
}

.pipalista li::before{
    content: "✔";
    position: absolute;
    left: 0;
    top: 0;
    color: #8b5a2b;
    font-weight: 700;
}

.kartya-ar{
    padding: 16px 18px;
    border-top: 4px double #b98f68;
    background-color: #e7d6b5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    font-size: 1.05rem;
}

.kartya-ar p{
    color: #2c1810;
}

.kartya-ar strong{
    font-size: 1.3rem;
}

.kartya-kiemelt .kartya-gomb{
    background-color: #a31111;
    border-color: #a31111;
}

.kartya-kiemelt .kartya-gomb:hover{
    background-color: #3f0505;
}

.kartya-gomb{
    border: 2px solid #8b5a2b;
    background-color: #8b5a2b;
    color: #f2e8d5;
    width: 70%;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.kartya-gomb:hover{
    background-color: #a6784c;
}

/* 980 pixelnél legyen jó */

@media (max-width: 980px){
    .kartya-lista{
        flex-direction: column;
        align-items: center;
    }

    .kartya, .kartya-kiemelt{
        width: min(150vw, 480px);
        transform: none;
    }
}

