@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400&display=swap');


*{
    margin:0;
    padding: 0;
    font-family: 'Cinzel', serif;
    box-sizing: border-box;
}

body{
    background-color: #fff4e0;;
}

/* ===== NAVBAR ===== */
.navbar {
  background-color: #2c1810;
  border-bottom: 8px double #8b5a2b;
}

.navbar-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
}

/* ===== LOGÓ ===== */
.logo img {
  max-height: 80px;
  display: block;
  padding: 10px 5px;
}

/* ===== LINKEK ===== */
.nav-links {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
}

.nav-links li a {
  display: block;
  color: #d4c5a3;
  text-decoration: none;
  padding: 14px 20px;
  font-size: larger;
  font-weight: 600;
  font-style: italic;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ffffff;
  border-bottom: 3px solid #e9b10a;
}

/* ===== HAMBURGER IKON ===== */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #d4c5a3;
  border-radius: 2px;
}

/* ===== REJTETT CHECKBOX ===== */
.menu-toggle {
  display: none;
}

/* ===== RESZPONZÍV – 980px ALATT ===== */
@media (max-width: 980px) {

  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-links li a {
    border-top: 1px solid #8b5a2b;
    border-bottom: none;
  }

  .nav-links li a:hover {
    color: #ffffff;
    border-bottom: none;
    background-color: #3d2518;
  }

  .menu-toggle:checked ~ .nav-links {
    display: flex;
  }
}


/* Footer */

.footer{
    background-color: #2c1810;
    color: #f2e8d5;
    padding: 40px 20px 20px;
    border-top: 6px double #8b5a2b;
}

.footer-tartalom{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

.footer-oszlop{
    flex: 1;
}

.footer-oszlop h3{
    margin-bottom: 12px;
    font-size: 1.4rem;
    color: #f7e6c7;
}

.footer-oszlop p{
    font-size: 1rem;
    line-height: 1.7;
    color: #e7d6b5;
}

.footer-idezet{
    font-style: italic;
}

.footer-jog{
    text-align: center;
    margin-top: 24px;
    padding-top: 14px;
    border-top: 2px solid #8b5a2b;
    font-size: 0.95rem;
    color: #d9c4a2;
}

/* 980 pixelnél legyen jó */

@media (max-width: 980px){
    .footer-tartalom{
        flex-direction: column;
        text-align: center;
    }
}