@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400&display=swap');


*{
    margin:0;
    padding: 0;
    font-family: 'Cinzel', serif;
}

body{
    background-color:#d4c5a3;;
}


.Navbar img{
    max-height: 80px;
    justify-content: left;
    padding: 10px 15px;
}   

.Navbar{
    display: flex;
    flex-direction: row;
    background-color: #2c1810;
    border-bottom:  8px double #8b5a2b;
}

.navlinks{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-grow: 1;
    float: right;
    padding: 5px 20px;
}

.Navbar a{
    color: #d4c5a3;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    font-style: italic;
    border-bottom: transparent 3px solid;
}
.Navbar a:hover{
    color: #ffffff;
    border-bottom: 3px solid #e9b10a;
    transition: 0.3s;
}

.nagykep img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    opacity: 90%;
    transition: 0.5s;
}

.nagykep img:hover{
    opacity: 100%;
    transition: 0.5s;
}

.Fogadoforesz{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.Fogadoforesz .bal{
    flex: 1;
    padding: 20px;
}

.Fogadoforesz .bal p{
    font-size:1.2rem;
    line-height: 1.6;
}

.Fogadoforesz .jobb{
    flex: 1;
    padding: 20px;
}

.Fogadoforesz .jobb img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.Fogadoforesz .jobb img:hover {
    filter: brightness(1.2);
    transition: 0.3s;
}

.balindex{
    color: #2b1d0e;
    font-weight: 550;
}

.bal h1{
    font-weight: 700;
    font-size: xx-large;
    border-bottom: 4px solid #8b5a2b;
    border-radius: 5px;
}

.balkisebb{
    color: #2b1d0e;
    font-style: normal;
}

.balidezet{
    font-style: italic;
}
